*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
}

a{
    
}

main{
    width: 85%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
Drawer{
    width: 15%;
    height: 100vh ;
    background-color: #B00D0D;
    text-align: center;
    display: flex;
    flex-direction: column;
}
mainHeader{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: #B00D0D solid 0.5vh;
    height: 20%;
    align-items: center;
    position: relative;
}
#logoGPEI{
    width: 35%;
}
#fotoProf{
    width: 15vh; 
    height: 15vh; 
    object-fit:cover; 
    border-radius:50%;
    outline: 1vh solid #ffffff;
    outline-offset: -1vh;
}
drawerHeader{
    
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
    border-bottom: 0.5vh white solid;
}
#drawerHeaderContent{
    margin-top: 4%

}
#nomeProf{
    font-size: 2vh;
    color: white;
    font-weight: 800;
}
#titlePage{
    position: absolute;
    right:  5%;
    color: #636363;
    font-size: 130%;
}

drawerMain{
    margin-top: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
option{
    text-align: center;
}
table{
    color: #636363;
    background-color: white;
    border-radius: 1vh;
    width: 90%;
    font-size: 2vh;
    padding: 2% 0;
}
#tableTitle{
    border-bottom: solid 0.2vh #636363;
    cursor:default;
    padding: 2% 0;
    font-size: 2.5vh;
}
#tableTitle:hover{
    color: #636363;
}
th:hover{
    color: #B00D0D;
}
th{
    cursor: pointer;
    padding: 0.5%;
}
hr{
    width: 100%;
    background-color: #D9D9D9;
    height: 0.00000005vh;
}
mainMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

mainMainHeader{
    align-self: center;
    width: 80%;
    height: 15%;
    font-size: 3.5vh;
    text-align: center;
    align-content: center;
    color: #636363;
}
mainMainMain{
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas */
    gap: 20px; /* espaço entre as colunas */
    padding: 20px;
}
cardContainer{
    display: flex;
    justify-content: center;  /* centraliza horizontal */
    align-items: center;      /* centraliza vertical */

    
}
card{
    background-color: #F1E5FC;
    height: 80%;
    width: 50%;
    border-radius: 2vh;
    border: #636363 solid 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    border: dashed #636363 0.5vh;
}
card img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 2vh;
}
card p {
    border-top: solid #636363 0.5vh;
    text-align: center;
    padding-top: 1vh;
    width: 100%;
    color: #636363;
    font-size: 2.5vh;
}
